body {
    background: black;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: url("assets/grass_day.png");
}

.assets {
    display: none;
    
}